@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-maze {
  background-image: url(/others/bg-maze.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.sample-slider .swiper-wrapper {
    transition-timing-function: linear;
}
