@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-maze {
  background-image: url(/others/background-maze.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}

a[target="_blank" i][href^="//"]::after,
a[target="_blank" i][href^="http://"]::after,
a[target="_blank" i][href^="https://"]::after {
  /* 外部リンクを示すアイコンの表示 */
  margin-left: .25em;
  content: "\F1C5";
  display: inline-block;
  vertical-align: -.25em;
  font-size: .5em;
  font-family: bootstrap-icons !important;
}

a[href]::before {
  display: inline-block;
  margin-right: .25em;
  font-family: bootstrap-icons !important;
  vertical-align: -.125em;
  font-size: 1em;
}

a[href^="mailto:" i]::before {
  /* メールアイコンの表示 */
  content: "\F32F";
}

a[href^="https://youtube.com/" i]::before,
a[href^="https://www.youtube.com/" i]::before {
  /* YouTube */
  content: "\F62B";
}

a[href^="https://github.com/" i]::before,
a[href^="https://www.github.com/" i]::before {
  /* GitHub */
  content: "\F3ED";
}

a[href^="https://twitter.com/" i]::before,
a[href^="https://www.twitter.com/" i]::before,
a[href^="https://mobile.twitter.com/" i]::before,
a[href^="https://x.com/" i]::before,
a[href^="https://www.x.com/" i]::before,
a[href^="https://mobile.x.com/" i]::before {
  /* X */
  content: "\F8DB";
}

